OUTPUT.bootstrap/
OUTPUT.darkcrusade/
compilers/*/*.lz
compilers/testing/
qi/config.mak
qi/etc/qirc
qi/src/qi
qi/*.tar.lz
sources/*.tar.gz
sources/*.tar.bz2
sources/*.tar.lz
sources/*.tar.xz
sources/*.tgz
sources/*.tar
sources/*.zip
sources/compilers/*.log.gz
sources/*/
sources/*.pem
*.png
*~
