OUTPUT.bootstrap/
OUTPUT.darkcrusade/
compilers/*/*.lz
compilers/*/*.sha256
compilers/*/*.log.*
qi/config.mak
qi/etc/qirc
qi/src/qi
qi/*.tar.lz
qi/*.tar.lz.sha256
*.tar.gz
*.tar.bz2
*.tar.lz
*.tar.xz
*.tgz
*.tar
*.zip
*.png
*~

# To ignore (possible) decompressed sources at sources/
sources/*/

# Ignore local packages, which are published via rsync(1)
packages/*/*/*.tlz
packages/*/*/*.tlz.txt
packages/*/*/*.tlz.sha256
