UI menu.c32
PROMPT 0

TIMEOUT 3000
TOTALTIMEOUT 4000

MENU TITLE Dragora GNU/Linux - 3.0
MENU COLOR screen      22;36;40
MENU COLOR border      1;36;40
MENU COLOR title       22;35;40
MENU COLOR unsel       37;40
MENU COLOR hotkey      1;37;40
MENU COLOR sel         1;36;40
MENU COLOR hotsel      1;37;45
MENU COLOR disabled    36;40
MENU COLOR scrollbar   37;40
MENU COLOR tabmsg      1;37;40
MENU COLOR cmdmark     1;36;40
MENU COLOR help        37;40
MENU CLEAR
MENU TABMSG

F1 f1.msg
DEFAULT dragora
NOCOMPLETE 1

LABEL dragora
    MENU LABEL ^Live mode
    MENU DEFAULT
    KERNEL vmlinuz
    APPEND initrd=initrd.img printk.time=0 RC_HWCLOCK=utc RC_HOSTNAME=dragora RC_DOMAINNAME=example.net ENABLE_ESPEAKUP=0 ESPEAKUP_VOICE=default RC_KEYMAP=qwerty/us RC_BLANKTIME=15
    TEXT HELP
    Use the 'Up' and 'Down' keys to select which entry is highlighted.
    Press [Enter] to boot the selected entry, [Tab] to edit command-
    line parameters before booting.  [F1] for more information.
    ENDTEXT

INCLUDE keys_i386.cfg

LABEL cmdline
    MENU LABEL ^Command line
    TEXT HELP
    Exit to the boot prompt.  Command-line parameters must be prepended
    using a label, by default "dragora".  For example, to bail out to a
    Linux Partition you could type: dragora root=/dev/sda1 rdinit= ro
    ENDTEXT
    MENU QUIT
