/*
   My custom CSS style for Texinfo documents
   Public domain 2016 sirgazil. All rights waived.
                                  ~@~
   Modified for Qi.
   Original: http://bitbucket.org/sirgazil/texinfo-css
*/


/* NATIVE ELEMENTS */
a:link,
a:visited {
    color: #008000;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

abbr,
acronym {
    cursor: help;
}

blockquote {
    color: #555753;
    font-style: oblique;
    margin: 30px 0px;
    padding-left: 1.5em;
}

body {
    background-color: white;
    box-shadow: 0 0 2px gray;
    box-sizing: border-box;
    color: #4E4E4E;
    line-height: 1.1;
    text-align: justify;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 1.12em;
    margin: 50px auto;
    max-width: 980px;
    padding: 50px;
}

code {
    color: black;
    font-size: 1.2em;
}

samp,
tt,
var {
    color: purple;
    font-size: 1em;
}

div.example,
div.lisp {
    margin: 0px;
}

dl {
    margin: 2em 0em;
}

dl dl {
    margin: 0em;
}

dt {
    padding: 0.3em;
}

h1,
h2,
h2.contents-heading,
h3,
h4 {
    padding: 20px 0px 0px 0px;
    font-weight: normal;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2.2em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.7em;
}

hr {
    background-color: silver;
    border-style: none;
    height: 2px;
    margin: 0px;
}

html {
    background-color: #F5F5F5;
}

img {
    max-width: 100%;
}

li {
    padding: 5px;
}

pre {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}

pre.example,
pre.lisp,
pre.verbatim {
    background-color: #f5f5dc;  // beige
    border-color: #000;
    border-style: solid;
    border-width: thin;
    color: #000000;
    font-size: large;
    padding: 1em;
    overflow: auto;
}

table {
    border-collapse: collapse;
    margin: 40px 0px;
}

table.index-cp *,
table.index-fn *,
table.index-ky *,
table.index-pg *,
table.index-tp *,
table.index-vr * {
    background-color: inherit;
    border-style: none;
}

td,
th {
    border-color: silver;
    border-style: solid;
    border-width: thin;
    padding: 10px;
}

th {
    background-color: #F5F5F5;
}
/* END NATIVE ELEMENTS */



/* CLASSES */
.contents {
    margin-bottom: 3em;
}

.float {
    margin: 3em 0em;
}

.float-caption {
    font-size: smaller;
    text-align: center;
}

.float > img {
    display: block;
    margin: auto;
}

.footnote {
    font-size: medium;
    margin: 1em 0em;
}

.footnote h3 {
    display: inline;
    font-size: small;
}

.header {
    background-color: #F2F2F2;
    font-size: small;
    padding: 0.2em 1em;
}

.key {
    color: purple;
    font-size: 0.8em;
}

.menu * {
    border-style: none;
}

.menu td {
    padding: 0.5em 0em;
}

.menu td:last-child {
    width: 60%;
}

.menu th {
    background-color: inherit;
}
/* END CLASSES */