/*
    Dragora CSS file.
    Under the terms of the Apache License version 2.0.
*/

body {
    max-width: 980px;
    margin: 0 auto;
    font-size: 100%;
    font-family: "Verdana", Helvetica, sans-serif, serif;
    color: #1d1d1d;
    background-color: #fefefe;
}

p {
    font-size: 1.15em;
    text-align: justify;
}

/*
    Header and footer
*/
#header {
    font-size: 1.3em;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: white;
    background: url(./img/header.png) repeat;
    background-color: #2e8b57;
    margin: 0.05em 0ex 0.5ex 0;
    border-radius: 9px;
}

/* A custom header */
#body h4 {
    color: #a52a2a;
}

#footer {
    font-style: italic;
    font-size: 95%;
}

/*
    Link propierties
*/
a {
    text-decoration: none;
}
a:visited {
    color: #8b008b;
}
a:hover {
    text-decoration: underline;
    color: #ff8c00;
}

/*
    List
*/
ul, ol {
    font-size: 1.20em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 1.4;
}

/*
    Code and cite
*/
blockquote { 
    font-size: 1.19em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 1.4;
}

/*
    Table
*/
table {
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

th,td {
    padding: 2px;
}

th {
    background-color: #f5f59e;
}

td {
    border-bottom:1px dotted #bbd;
    color: #000044;
}

